.menu {
    position: relative;
    display: inline-block;
    padding: 5px 5px;
   


  }
  
  .menu::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: black;
    transition: width 0.2s ease-in-out;
  }
  
  .menu:hover::after {
    width: 100%;
  }
  